[user]
  email = danielboll.academico@gmail.com
  name = Daniel Boll
  signingkey = A83245AD141A70E3
[gpg]
  program = gpg2
[mergetool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[merge]
  tool = nvim
[mergetool]
  prompt = false
[init]
	defaultBranch = main
